@tailwind base;
@tailwind components;
@tailwind utilities;


select {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.3rem;
}

button {
  padding: 0.5rem;
}

.primary-button {
  background-color: rgb(0, 122, 55);
}

.primary-button:hover {
  background-color: rgb(1, 96, 44)
}

.primary-button:active {
  background-color: rgb(1, 65, 30);
}

.secondary-button {
  background-color: grey;
}

.secondary-button:hover {
  background-color: #616161;
}

.secondary-button:active {
  background-color: #454545;
}

button {
  vertical-align: middle;
}

/* website-shared v1.1 */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: white;
  background: theme('colors.darkest-blue');
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: white;
  background: theme('colors.dark-blue');
  font-family: Arial, Helvetica, sans-serif;
}

td, th {
  text-wrap: wrap;
  word-break: break-all;
  padding: 1rem;
}

div {
  background-color: theme('colors.dark-blue');
}

.main {
  padding: 2.5rem;
}

.header {
  background-color: theme('colors.darkest-blue');
}

table {
  background-color: theme('colors.light-blue');
  margin-left: auto;
  margin-right: auto;
}

button {
  text-wrap: nowrap;
}

a:hover {
  color: grey
}

@layer utilities {
  .text-balance {
    /* text-wrap: balance; */
  }
}